body {
  background-color: rgb(25, 150, 218);
}

.container {
  max-width: 800px;
  margin-left: auto;
  margin-right: auto;
}

.column-full {
  text-align: center;
}

.column-third {
  width: 33%;
  flex-wrap: wrap;
}

.row {
  display: flex;
}

.circle {
  background-color: white;
  border-radius: 50%;
  height: 100px;
  width: 100px;
  padding: 20px;
  margin-left: 20px;
}

img {
  width: 100%;
}

.circle-container {
  align-items: center;
  padding-right: 20px;
}

h2 {
  color: white;
}

h3 {
  color: white;
}

p {
  color: rgb(217, 220, 221);
  padding-right: 20px;
  font-size: smaller;
}
