h2 {
  margin-left: auto;
  margin-right: auto;
  max-width: 800px;
  padding-top: 50px;
  color: white;
  padding-left: 50px;
}

.container {
  max-width: 800px;
  margin-left: auto;
  margin-right: auto;
  background-color: rgb(25, 150, 218);
}

.column-third {
  width: 33%;
}

.row {
  display: flex;
}

img {
  size: 50%;
}
