h2 {
  color: rgb(238, 109, 103);
  display: flex;
  align-self: center;
  justify-content: center;
  font-family: 'Brandon Grotesque', 'Times New Roman', Times, serif;
}

div.input {
  border-radius: 15px;
  height: 75px;
  display: flex;
  align-self: center;
  justify-content: center;
}

label {
  display: flex;
  align-self: center;
  justify-content: center;
}

input {
  height: 35px;
  border-radius: 5px;
}

select {
  padding-left: 250px;
  border-radius: 2px;
  height: 35px;
  background-color: lightgray;
}
