.container {
  max-width: 800px;
  margin-left: auto;
  margin-right: auto;
}

body {
  background-color: rgb(247, 248, 250);
}

.row {
  display: flex;
}

.header {
  width: 100%;
  text-align: center;
  font-family: 'Barlow', sans-serif, serif;
  font-weight: 900;
}

.column-25 {
  width: 25%;
  font-family: 'Barlow', sans-serif, serif;
}

img {
  width: 100%;
}

.icon {
  width: 25%;
  margin-left: 75px;
}

h3 {
  font-weight: bolder;
  text-align: center;
  font-size: 0.8em;
}

p {
  text-align: center;
  font-size: 0.7em;
}
