.container {
  min-width: 800px;
  min-height: 800px;
}

.column {
  height: 100%;
  display: flex;
  justify-content: center;
}

h1 {
  font-family: 'Courier New', Courier, monospace;
  margin-top: 25%;
}
