.container {
  min-width: 800px;
  min-height: 800px;
}

.text-line {
  height: 100%;
  display: flex;
}

h1 {
  margin-left: 20%;
  margin-top: 25%;
}

span {
  font-family: 'Courier New', Courier, monospace;
}

.error {
  border-bottom: 3px solid red;
}

.underline {
  border-bottom: 3px solid black;
}

.red {
  color: rgb(248, 28, 4);
}

.green {
  color: rgb(40, 208, 42);
}

.black {
  color: black;
}
