.container {
  max-width: 800px;
  margin-left: auto;
  margin-right: auto;
}

h1 {
  font-family: 'Karla', sans-serif, serif;
  text-align: center;
  justify-content: center;
  padding-left: 240px;
}

.column-80 {
  text-align: center;
  width: 90%;
  margin-left: 50px;
  margin-bottom: 30px;
}

.row {
  display: flex;
}

img {
  width: 80%;
}

.column-2 {
  width: 30%;
  padding-right: 50px;
}

p {
  font-family: 'Karla', sans-serif, serif;
  color: rgb(129, 129, 129);
}

.button {
  margin-left: 320px;
  margin-top: 50px;
}

.learn-more {
  background-color: white;
  color: rgb(218, 114, 108);
  border-color: rgb(218, 114, 108);
  padding: 8px 25px;
  font-family: 'Karla', sans-serif, serif;
  border-radius: 1px;
  font-size: smaller;
}

.info {
  font-size: smaller;
}

.top {
  margin-left: 50px;
  margin-right: 50px;
  text-align: center;
}

h4 {
  font-family: 'Karla', sans-serif, serif;
  font-size: 0.9em;
}
